.loading__Box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 86vh;
      width: 100%;
      scroll-behavior: smooth;
      overflow: hidden;
      animation: fade 5s infinite ease-in;
}

@keyframes fade {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .2;
    }
}